.btns-edit-change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 10px;
}

.btns-edit-change__input-file-wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.btns-edit-change__input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.btns-edit-change__input-file-button {
  width: 100%;
  width: 100%;
  height: 50px;
  background: #d6e7f9;
  color: black;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

.btns-edit-change__input-file-button:hover {
  opacity: .9;
}

.btns-edit-change__input-file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  border-right: 1px solid #fff;
}

.btns-edit-change__input-file-icon {

}

.btns-edit-change__input-file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.btns-edit-change__label-file-name {
  display: block;
  margin-bottom: 10px;
  text-align: start;
  border-radius: 3px;
  padding-left: 15px;
  background-color: #d6e7f9;
}

.btns-edit-change__textarea {
  height: 55px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  outline: none;
  resize: none;
  margin: 10px 0;
  border-radius: 5px;
}

.btns-edit-change__btns-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
}

.btns-edit-change__save {
  width: calc(50% - 10px);
  height: 45px;
  border: 1px solid #909090;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.btns-edit-change__save:hover {
  opacity: .95;
  background-color: #7bfe74;
}

.btns-edit-change__cancel {
  width: calc(50% - 10px);
  height: 45px;
  border: 1px solid #909090;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.btns-edit-change__cancel:hover {
  opacity: .95;
  background-color: #f66565;
}
